@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}

@media screen and (min-width : 769px) {

	body{
	margin: 0;
	padding: 0;
	background-image: linear-gradient(0deg, #4f5b62 0%, #263238 80%);;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
	/*
	body:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
		background: white;
		opacity: 0.8;

	}
	*/
	.login{
		position: absolute;
		/*background: #5DBCD2;*/
		/*background: white;*/
		background: rgba(255, 255, 255, 1);
		/*opacity: 75%;*/
		/* top: 3%; */
		left: 0%;
		width: 400px;
		height: 100%;
		/*transform: translate(-50%, -50%);*/
		box-shadow: 0px 15px 30px rgba(0,0,0,0.5);
		padding: 50px;
		padding-top: 110px;
		box-sizing: border-box;
	}

	.logo {
    	display: inline-block !important;
        margin-top: -10px;
	}

	.login form{
		top: 20%;
		position: relative;
		margin-top: -80px;
	}

	.input-box{
		margin: 20px 0;
		padding-top: 10px;
	}

	button.input-box{
		width: 100%;
		padding: 7px;
		border-color: #5DBCD2;
		background: #5DBCD2;
		border: 0px solid transparent;
		border-radius: 2px;
		color: white;
		font-weight: bold;
		transition: .2s;
		margin-top: 10px;
	}

	button.input-box:hover{
		background: #3897f0;
	}	

	button.input-box.done{
		background: #5DCF42; 
	}

	input{
		background: transparent;
		font-size: 15px;
		border: none;
		border-bottom: 2px solid #777;
		outline: 0;
		padding-top: 30px;
		padding-left: 5px;
		box-sizing: border-box;
		font-weight: bold;
	}

	input:focus,
	input:valid{
		border-bottom: 2px solid #5DBCD2;
	}

	input:invalid{
		border-bottom: 2px solid #777;
	}

}

@media screen and (max-width : 768px) {

	body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	background-image: url('../img/home/bg-login.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
	/*
	body:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
		background: white;
		opacity: 0.8;

	}
	*/
	.login{
		position: absolute;
		/*background: #5DBCD2;*/
		/*background: white;*/
		background: rgba(255, 255, 255, .85);
		/*opacity: 75%;*/
		/* top: 3%; */
		/*left: 50%;*/
		width: 100%;
		height: 100%;
		/*transform: translate(-50%, -50%);*/
		box-shadow: 0px 15px 30px rgba(0,0,0,0.5);
		padding: 50px;
		padding-top: 150px;
		box-sizing: border-box;
	}

	.logo {
    	display: inline-block !important;
        margin-top: -10px;
	}

	.login form{
		top: 20%;
		position: relative;
		margin-top: -80px;
	}

	.input-box{
		margin: 20px 0;
		padding-top: 10px;
	}

	button.input-box{
		width: 100%;
		padding: 7px;
		border-color: #5DBCD2;
		background: #5DBCD2;
		border: 0px solid transparent;
		border-radius: 2px;
		color: white;
		font-weight: bold;
		transition: .2s;
		margin-top: 10px;
	}

	button.input-box:hover{
		background: #3897f0;
	}	

	button.input-box.done{
		background: #5DCF42; 
	}

	input{
		background: transparent;
		font-size: 15px;
		border: none;
		border-bottom: 2px solid #777;
		outline: 0;
		padding-top: 30px;
		padding-left: 5px;
		box-sizing: border-box;
		font-weight: bold;
	}

	input:focus,
	input:valid{
		border-bottom: 2px solid #5DBCD2;
	}

	input:invalid{
		border-bottom: 2px solid #777;
	}

}


.done{
	border-bottom: 2px solid #5DCF42 !important;
}
.fail{
	border-bottom: 2px solid #C71E2E !important;
}

.forgot{
	color: #383838 !important;
	font-size: 14px;
	font-weight: bold;
	/* font-style: italic; */
}

.create{
	color: #0033FF !important;
	font-size: 20px;
	font-family: calibri;
}	

.head{
	font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

.pic-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

figurecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.pic-1 {
  opacity: 1;
  background: url(http://cdn.morguefile.com/imageData/public/files/g/GaborfromHungary/06/p/74fea178af5c36b5303625ffeacd8454.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(http://cdn.morguefile.com/imageData/public/files/k/Koan/06/p/ea989990a29bb73aa78db9f8322b5631.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(http://cdn.morguefile.com/imageData/public/files/t/TSmythe/06/p/74820906fce25071550b74b6773a0e19.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(http://cdn.morguefile.com/imageData/public/files/i/Isbiliani/05/p/8787b7ac34a8de4c4aad6fe8a5d7e925.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* keyframes*/

@keyframes 
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 transform:scale(1);
 -ms-transformm:scale(1);
}
}
 @-o-keyframes 
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}
 @-moz-keyframes 
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}
 @-webkit-keyframes 
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}